.topsection {
    width: 100%;
    background-image: url(assets/images/history_brain.png);
    background-position: center;
    height: 600px;
    background-size: cover;
}

.historysection {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 75px;
}

.historysection>img {
    width: 50%;
}

.historysection p {
    font-size: 20px;
    line-height: 1.5;
}