.topsection {
  width: 100%;
  background-image: url(assets/images/history_brain.png);
  background-position: center;
  height: 600px;
  background-size: cover;
}

.historysection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-block: 50px;
  padding-inline: 250px;
  background-color: var(--bg-header);
  box-shadow: 0 0 700px;
  position: relative;
  z-index: 1;
}
section:last-of-type {
  background-image: url(assets/images/historycontainer.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-block: 50px;
  padding-inline: 250px;
  background-color: var(--bg-header);
  box-shadow: 0 0 700px;
  font-size: 20px;
  color: white;
  text-align: end;
}
h1 {
  color: #f4bf0d;
}
header {
  background-color: var(--bg-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 35px;
  padding-inline: 60px;
}

.historysection > img {
  max-width: 100%;
}

.historysection p {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  color: rgb(68, 47, 88);
}
