* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

i {
    font-size: 30px;
    margin-left: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1 {
    font-size: 60px;
    letter-spacing: 3px;
}

.levels {
    max-width: 400px;
    padding: 20px;
    border: 3px solid black;


}

.default {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.default>p {
    font-size: 30px;
}

button {
    padding: 20px;
    font-size: 30px;
    max-width: 400px;
}

.click {
    flex-direction: column;
    display: none;
}

.click>div {
    max-width: 50%;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.easy {
    background-color: green;
    color: rgb(124, 208, 124);
    border: 3px solid rgb(124, 208, 124);
}

.medium {
    background-color: rgb(234, 220, 20);
    color: rgb(228, 231, 176);
    border: 3px solid white;
}

.hard {
    background-color: red;
    color: rgb(235, 134, 134);
    border: 3px solid rgb(235, 134, 134);
}