* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

i {
    font-size: 30px;
    margin-left: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1 {
    font-size: 60px;
    letter-spacing: 3px;
}

.levels {
    max-width: 400px;
    padding: 20px;
    border: 3px solid black;

}

.default {
    display: flex;
    justify-content: space-between;
}

.default>p {
    font-size: 30px;
}

button {
    padding: 20px;
    font-size: 30px;
    max-width: 400px;
}