* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  width: 100%;
} */

body {
  height: 100vh;
  background-color: var(--main-color);
}

section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
}

#memory-container {
  display: grid;
  width: 1200px;
  height: 600px;
  /* grid-template-columns: repeat(4, 175px);
  grid-template-rows: repeat(4, 175px); */
  justify-items: center;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.471);
}

/* #memory-container > div {
  border: 1px solid black;
  width: 180px;
  height: 180px;
} */

.card {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.card img {
  display: none;
}

.card.flipped img {
  display: block;
}
