* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  width: 100%;
} */

body {
  height: 100%;
  background-image: url(https://wallpapers.com/images/hd/black-and-white-comic-1080-x-1080-wallpaper-cvmghz9yqjabvzdd.jpg);
}
main {
  background-color: #421242d7;
  /*   background-color: #000000d7; */
  background-size: cover;
  height: 100%;
}
section:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
i {
  color: #e2a4ec;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-inline: 60px;
}

section > img {
  width: 500px;
  margin-bottom: 30px;
}
h1 {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-size: 250px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: yellow;
}

#memory-container {
  display: grid;
  width: fit-content;
  /* grid-template-columns: repeat(4, 175px);
  grid-template-rows: repeat(4, 175px); */
  justify-items: center;
  align-items: center;
  padding: 40px;
  gap: 10px;
  border-radius: 20px;
  background-color: #00000078;
}

#memory-container > div {
  width: 150px;
  height: 150px;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url(../assets/images/question.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

.card img {
  display: none;
}

.card.flipped img {
  display: block;
}
