@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  height: 100vh;
  background-color: var(--main-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 60px;
  letter-spacing: 3px;
}

:root {
  --main-color: rgb(72, 33, 72);
}


nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

i {
  font-size: 30px;
  transition: all 0.3s ease;
}

a {
  color: black;
}

i:hover {
  color: rgb(150, 143, 143);
  transform: scale(1.1);
}

body.moon {
  background-color: black;
}

body.moon p,
body.moon h1,
body.moon h2,
body.moon h3,
body.moon i,
body.moon a {
  color: white;
}

body.sun {
  background-color: rgb(244, 191, 244);
}

body.sun p,
body.sun h1,
body.sun h2,
body.sun h3,
body.sun i,
body.sun a {
  color: white;
}