@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  height: 100vh;
  background-color: var(--main-color);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid black;
}
h1 {
  font-size: 60px;
  letter-spacing: 3px;
}
:root {
  --main-color: rgb(72, 33, 72);
}
