section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

h1 {
  font-size: 60px;
  letter-spacing: 3px;
}

.levels {
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  border: 3px double black;
}

.default {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
}

.default>p {
  font-size: 30px;
}

button {
  padding: 20px;
  font-size: 30px;
  max-width: 400px;
  border-radius: 20px;
}

.click {
  display: none;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

.click>div {
  min-width: 50%;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.click>div:hover {
  transform: scale(1.1);
}

.easy {
  background-color: green;
  color: rgb(124, 208, 124);
  border: 3px solid rgb(124, 208, 124);
}

.medium {
  background-color: rgb(234, 220, 20);
  color: rgb(228, 231, 176);
  border: 3px solid white;
}

.hard {
  background-color: red;
  color: rgb(235, 134, 134);
  border: 3px solid rgb(235, 134, 134);
}